@font-face {
  font-family: "Proxima Nova";
  font-weight: 200;
  src: url("../../assets/fonts/Proxima Nova Light.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  src: url("../../assets/fonts/Proxima Nova Reg.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  src: url("../../assets/fonts/Proxima Nova Bold.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  color: #19E68C;
  background: #191414;
  font-family: "Proxima Nova";
  transition: transform ease 1.2s;
  overflow: hidden;
}

body.unloaded {
  transform: translateY(48px);
}

body.unloaded > #loader {
  transform: translateY(-48px);
}

body.unloaded > .panel {
  transform: translateY(48px);
}

#top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  box-sizing: border-box;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#top > h1 {
  font-size: 48px;
  margin: 0px;
  padding: 6px;
  text-align: center;
}

#logo {
  fill: #19E68C;
  width: 48px;
  height: 48px;
  padding: 6px;
}

#loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 1000;
  background: #191414;
  pointer-events: none;
  transition: transform ease 1.2s;
}

.panel {
  transition: transform ease 1.2s 0.4s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 60px;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#panel-home > img {
  margin: 18px;
  width: 256px;
  height: 256px;
  box-sizing: border-box;
}

#panel-home > div {
  width: 256px;
  height: 256px;
  box-sizing: border-box;
  margin: 18px;
  overflow: hidden;
}

#panel-home > div > h1 {
  font-weight: 200;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  margin-top: -4px;
  color: white;
}

#panel-home > div > #divider {
  width: 144px;
  height: 8px;
  margin: 18px 0px;
  background: white;
  border-radius: 0px;
}

#panel-home > div > button {
  width: 256px;
  height: 64px;
  margin-top: 9px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: linear-gradient(135deg, #19E68C, #1DB954);
  font-size: 32px;
  color: white;
  font-family: "Proxima Nova";
  font-weight: bold;
  line-height: 32px;
  cursor: pointer;
}

#panel-home > div > button > img {
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

#panel-home > div > button > #add {
  width: 16px;
  height: 16px;
  padding: 8px;
}

#panel-app > p {
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  position: absolute;
  top: -8px;
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

#panel-app > #welcome {
  left: 52px;
  pointer-events: none;
}

#panel-app > #logout {
  right: 52px;
  cursor: pointer;
}

#main-app {
  box-sizing: border-box;
  margin: 40px;
  margin-top: 120px;
  height: calc(100vh - 172px);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#main-app > div {
  margin: 12px;
  height: calc(100vh - 172px);
  box-sizing: border-box;
  flex-shrink: 0;
}

#main-app > .column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#main-app > .square {
  flex: 0;
  width: calc(100vh - 316px);
}

#main-app > .square > #main {
  background: #19E68C;
  width: calc(100vh - 316px);
  height: calc(100vh - 316px);
}

#main-app > .square > #sub {
  width: calc(100vh - 316px);
  height: 120px;
  margin-top: 24px;
  border-bottom: 8px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
}

#main-app > .square > #sub > h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 18px;
  padding: 0px;
  max-width: 100%;
  display: inline;
  color: white;
  flex: 0;
  text-align: right;
}

#main-app > .square > #sub > button {
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: white;
  font-size: 16px;
  color: #191414;
  font-family: "Proxima Nova";
  font-weight: 200;
  line-height: 16px;
  cursor: pointer;
  text-align: center;
}

#main-app > .square > #sub > button > img {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: -4px;
  filter: invert(100%);
}

#main-app > .column > h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  width: 0px;
  color: white;
  flex: 0;
}

#main-app > .column > h1:not(:first-child) {
  margin-top: 18px;
}

#main-app > .column > .divider {
  width: 100%;
  height: 8px;
  background: white;
  margin: 18px 0px;
  flex: 0;
  flex-basis: 8px;
  flex-shrink: 0;
  border-radius: 0px
}

#main-app > .column > .content {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: scroll;
  background: linear-gradient(#191919,#191414);
  display: flex;
  flex-direction: column;
  position: relative;
}

#main-app > .column > .content > * {
  transition: border-bottom ease 0.5s;
  cursor: pointer;
}

#main-app > .column > .content > img {
  width: 100%;
  margin-bottom: 24px;
  box-sizing: border-box;
  border-bottom: 0px solid white;
}

#main-app > .column > .content > img.selected {
  border-bottom: 8px solid white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: transparent;
}
